<a href="https://colab.research.google.com/github/raj963/regration/blob/master/multiTypeRegration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [3]:
data = pd.read_csv('datasets/diamonds_processed.csv', index_col=0)

data.head()

         price  cut_Fair  cut_Good  ...         x         y         z
clarity                             ...
5         2347         0         0  ... -0.297549 -0.252463 -0.237666
3        17108         0         0  ...  1.480844  1.486613  1.420743
5         1838         0         0  ... -0.582092 -0.540852 -0.505151
3         3625         0         0  ...  0.067022  0.088361  0.069942
3         5729         1         0  ...  0.431592  0.376751  0.818901

[5 rows x 19 columns]

In [0]:
from sklearn.linear_model import LinearRegression

def linear_model(x_train, y_train):
    
    print("Linear Regression ")
    linear_regression = LinearRegression()
    
    linear_regression.fit(x_train, y_train)
    
    return linear_regression

In [0]:
from sklearn.linear_model import Lasso
def lasso_model(x_train, y_train):
    
    print("Lasso Regression")
    lasso_regression = Lasso(alpha=0.8, max_iter=10000)
    
    lasso_regression.fit(x_train, y_train)
    
    return lasso_regression

In [0]:
from sklearn.linear_model import Ridge

def ridge_model(x_train, y_train):
    
    print("Ridge Regression")
    ridge_regression = Ridge(alpha=0.9)
    
    ridge_regression.fit(x_train, y_train)
    
    return ridge_regression

In [0]:
def build_and_train_model(data, target_name, reg_fn):
    
    X = data.drop(target_name, axis=1)
    Y = data[target_name]
    
    x_train, x_test, y_train, y_test = \
        train_test_split(X, Y, test_size = 0.2, random_state=0)

    model = reg_fn(x_train, y_train)
    
    score = model.score(x_train, y_train)
    print("Training Score : ", score)

    y_pred = model.predict(x_test)
    r_score = r2_score(y_test, y_pred)
    print("Testing Score : ", r_score)
    
    return {'model' : model, 
            'x_train' : x_train, 'x_test' : x_test,
            'y_train' : y_train, 'y_test' : y_test, 
            'y_pred' : y_pred
           }

In [8]:
linear_reg = build_and_train_model(data, "price", linear_model)

Linear Regression
Training Score :  0.8769679928325292
Testing Score :  0.8587791182133941

In [11]:
lasso_reg = build_and_train_model(data, "price", lasso_model)

Lasso Regression
Training Score :  0.8769660880729163
Testing Score :  0.8588299001123165

In [12]:
ridge_reg = build_and_train_model(data, "price", ridge_model)

Ridge Regression
Training Score :  0.8769767455315431
Testing Score :  0.8587808694573578

In [13]:
linear_reg['model']

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
from sklearn.linear_model import SGDRegressor

def sgd_model(x_train, y_train):
    
    print("SGD Regression")
    sgd_regression = SGDRegressor(max_iter=2000)
    
    sgd_regression.fit(x_train, y_train)
    
    return sgd_regression

In [15]:
sgd_reg = build_and_train_model(data, "price", sgd_model)

SGD Regression
Training Score :  0.876720525483152
Testing Score :  0.8598514100138996